/**index.wxss**/
@use 'sass:math';

//通用弹窗宽度
$dialogWidth : calc(100vw - 120rpx);
// 瞄一眼吧图片高度
$tipWordImageHeight : calc(#{$dialogWidth}*1.316);
// 瞄一眼吧弹窗高度
$tipWordDialogHeight : calc(#{$tipWordImageHeight} + 116rpx);
// 瞄一眼吧单词宽度
$tipWordWidth : calc(100vw - 200rpx);
// 瞄一眼吧单词高度
$tipWordHeight: calc(#{$dialogWidth} * 0.19);
// 瞄一眼吧第一个单词y轴位移
$tipFirstTransform1 : calc(#{$tipWordDialogHeight}/2 * -1 + #{$tipWordImageHeight}*0.272);
// 瞄一眼吧第二个单词y轴位移
$tipFirstTransform2 : calc(#{$tipWordDialogHeight}/2 * -1 + #{$tipWordImageHeight}*0.452);
// 瞄一眼吧第三个单词y轴位移
$tipFirstTransform3 : calc(#{$tipWordDialogHeight}/2 * -1 + #{$tipWordImageHeight}*0.633);

.gradientBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 500rpx;
  background: linear-gradient(#CFFFF1, #CFFFF100);
}

#tryAgain {
  width: 206rpx;
  height: 206rpx;
  z-index: 1009;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-30rpx, -30rpx);
}

#next {
  width: 206rpx;
  height: 206rpx;
  z-index: 1009;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(30rpx, -30rpx);
}

#bottomTip {
  z-index: 1009;
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  display: flex;
  flex-direction: row;
  transform: translate(-50%, 220rpx);
  align-items: center;
}

#linkItem {
  margin-bottom: 200rpx;
}

.center-message-bg {
  margin-top: 50rpx;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 48rpx;
  margin-right: 48rpx;
  z-index: 1006;
}

.center-notify-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 144rpx;
  height: 62rpx;
  background-color: #DCFCDE;
  align-items: center;
  border-radius: 31rpx;
}

.center-notify-text {
  font-size: 24rpx;
  font-weight: 350;
  color: #0A7810;
  position: absolute;
  left: 68rpx;
}

.center-right-items-bg {
  display: flex;
  flex-direction: row;
}

.center-audio-btn {
  width: 62rpx;
  height: 62rpx;
  background-color: #E4F9F4;
  border-radius: 31rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.center-time-bg {
  width: 89rpx;
  height: 62rpx;
  background-color: #E4F9F4;
  border-radius: 31rpx;
  margin-left: 32rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 28rpx;
}

.center-time-bg .van-count-down {
  color: #0A0D0F !important;
  font-weight: 400;
  font-size: 28rpx !important;
}

.dialogRoot {
  position: relative;
  width: 100%;
  height: 100%;
}

.dialogBackground {
  position: absolute;
  z-index: 1003;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialogWidget {
  position: absolute;
  z-index: 1004;
}

.dialogWidget span {
  color: #F97800;
}

.nextButton {
  background-color: #37C23E;
  border-radius: 68rpx;
  width: 450rpx;
  height: 120rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tipBackground {
  width: $dialogWidth;
}

.tipWordRoot {
  width: $tipWordWidth;
  height: $tipWordHeight;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  padding-left: 30rpx;
  padding-right: 30rpx;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.tipWordRoot span {
  color: #0A0D0F;
  display: inline-block;
  /* 保持文本在同一行 */
}

.marquee-animate {
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.tipWordRoot.first {
  transform: translate(-50%, $tipFirstTransform1);
}

.tipWordRoot.second {
  transform: translate(-50%, $tipFirstTransform2);
}

.tipWordRoot.third {
  transform: translate(-50%, $tipFirstTransform3);
}

#shareIcon {
  margin-right: 48rpx;
  margin-bottom: 200rpx;
  width: 140rpx;
  height: 155rpx;
  position: absolute;
  right: 0;
  bottom: 0;
}

.van-checkbox__icon--square {
  border-radius: 4rpx
}